@import url("header.css");

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #0E1525;
}

.backdrop {
    display: none;
}

.site-wrapper {
    margin-top: 10rem;
}

#top-contents-wrapper {
    margin: 0;
    color: white;
    z-index: -1;
    font-family: 'Rubik', sans-serif;
}

.top-contents {
    text-align: center;
    height: 40vw;
    min-height: 75vh;
    color: white;
}

#first-text {
    text-shadow: 2px 2px 60px #0079f2;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.StartCoding {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0079f2;
    padding: 1rem 1rem 1rem;
    border-radius: 0.2rem;
    font-weight: 600;
    /* animation: startcode 0.8s 0s cubic-bezier(.17, .67, .83, .67) alternate infinite;
    transition: all 0.2s 0s ease-in; */
}

/* @keyframes startcode {
    0% {
        padding: 1rem 1rem 1rem;
    }

    50% {
        padding: 1rem 1.5rem 1rem;

    }

    100% {
        padding: 1rem 2rem 1rem;

    }
} */

.StartCoding:hover {
    background-color: rgb(87 171 255);
}

#firstParagraph {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* skill levels section */

.skill-levels-heading {
    text-align: center;
    color: white;
    font-size: 3.2rem;
}

.skill-levels-container {
    background-color: #1C2333;
    display: flex;
    flex-flow: row wrap;
    gap: 3%;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    color: white;
}

.each-skill-levels-item {
    height: 20vw;
    flex-basis: 20%;
    border: 2px solid #0079f2;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0.8rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: 'Lato', sans-serif;
}


.fa.fa-desktop, .fa.fa-user-plus,
.fa.fa-github, .previous-next-icon,
.fa.fa-globe, .fa.fa-user, .fa.fa-cloud,
.fa.fa-book {
    color: #57abff;
    font-size: 1.3rem;
    border: none;
}

.fa.fa-github, .previous-next-icon {
    font-size: 1.6rem;
}

/* .each-skill-levels-item:hover {
    box-shadow: 0px 20px 70px #055fb9;
    transform: scale(1.1);
    transition: all 2s cubic-bezier(.165, .84, .44, 1);
} */

.each-skill-levels-item p {
    color: #c2c8cc;
    font-size: 1rem;
}

/* IDE section */
.about-codes-wrapper {
    background-color: #0e1525;
    margin: 0;
    margin-top: 5rem;
    width: 100%;

}

.about-IDE {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.codeEnviron-img {
    width: 40vw;
    height: 45vh;
}

.instant-ide {
    font-size: 1.5rem;
    color: #c2c8cc;
}

aside h1+p {
    font-size: 1.1rem;
    color: #c2c8cc;

}

aside h1+p strong {
    color: white;
}

.IDE {
    width: 50vw;
    height: 50vh;
}

.side-text {
    color: white;
    min-height: 35vh;
    /* background-color: #0E1525; */
}

.side-text a {
    color: #57abff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.side-text h1 {
    font-size: 2.7rem;
    font-weight: 700;
    text-shadow: 2px 2px 60px #0079f2;
}

video {
    width: 100vw;
}

/* multiplayer section */
.multiplayer, .community, .Teams, .Host {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
}

.multiplayer-text+img {
    width: 45%;
    height: 55%;
}

.multiplayer-heading, .team-heading,
.host-heading {
    font-size: 1.5rem;
    color: #c2c8cc;
    font-weight: 600;
}

.multiplayer-text .multiplayer-heading+h1,
.community-text .community-heading+h1,
.team-text .team-heading+h1,
.host-text .host-heading+h1 {
    font-size: 2.7rem;
    color: white;
    text-shadow: 2px 2px 60px #0079f2;
}

.multiplayer-text a,
.community-text a,
.team-text a,
.host-text a {
    text-decoration: none;
    color: #57abff;
    font-size: 1.2rem;
    font-weight: 600;
}

/* community section */

.community-heading {
    font-size: 2.5rem;
    color: #c2c8cc;
    font-weight: 600;
}

.community img {
    width: 40%;
    height: 50%;
}

.team-text+img {
    width: 50vw;
    height: 65vh;
    /* animation: go 10s 0s ease-in infinite; */
    position: relative;

}

/* @keyframes go {
    from {
        transform: scaleX(-1);
        bottom:5px;
    }

    to {
        top: 5px;
        transform: scaleX(1);
    }
} */

/* hosting section */
.Host {
    display: flex;
}

.Host img {
    width: 40vw;
    height: 80vh;
}

.coding-link {
    color: white;
    text-decoration: none;
    background-color: #0079f2;
    padding: 1rem 1rem 1rem;
    border-radius: 0.2rem;
    font-weight: 600;
    /* animation: startcode 0.8s 0s cubic-bezier(.17, .67, .83, .67) alternate infinite; */
}

.coding-link:hover {
    background-color: rgb(87 171 255);

}

.main-last-text {
    text-align: center;
    margin-top: 3rem;
}

.main-last-text p {
    color: white;
    font-size: 2.5rem;
}

/* footer */
footer {
    background-color: #1c2333;
    margin-top: 5rem;
    width: 100vw;
    color: #c2c8cc;
    padding-bottom: 4rem;
}

footer h4 {
    color: #c2c8cc;
    text-align: center;
    font-weight: 500;
    padding-top: 4rem;
}

#languages {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#languages ul li {
    display: block;
}

#languages ul li a {
    color: #c2c8cc;
    font-size: 1.1rem;
}

#languages ul li a:hover {
    color: #57abff;
}

.copyright {
    text-align: center;
    margin: 0;
    margin-top: 4rem;
}

@media (max-width:1030px) {
    .each-skill-levels-item h3 {
        font-size: 1.2rem;
    }

    .each-skill-levels-item p {
        font-size: 0.8rem;
    }
}

@media (max-width:1024px) {
    .backdrop {
        display: none;
        padding-bottom: 1rem;
    }

    .each-skill-levels-item h3 {
        font-size: 1rem;
    }

    .each-skill-levels-item p {
        font-size: 0.7rem;
    }

}

@media (max-width:871px) {
    .each-skill-levels-item {
        padding-left: 1rem;
    }

    .each-skill-levels-item h3 {
        font-size: 0.8rem;
        margin: 0;
    }

    .each-skill-levels-item p {
        font-size: 0.7rem;
    }

}

@media (max-width:780px) {
    body {
        overflow-x: hidden;
    }

    .backdrop {
        display: none;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
        z-index: 10;
        position: fixed;
        top: 0;
    }

    .fa.fa-chevron-down {
        display: none;
    }

    #top-contents-wrapper {
        z-index: -1;
    }

    .top-contents {
        padding-top: 0;
        line-height: 1.5;
        word-wrap: wrap;
    }

    .StartCoding, .coding-link {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    #first-text {
        text-shadow: 6px 6px 20px #0079f2;
        font-size: 3.7rem;
    }

    #firstParagraph {
        font-size: 1.2rem;
    }

    .skill-levels-heading {
        font-size: 2rem;
    }

    .each-skill-levels-item {
        flex-basis: 40%;
        height: 40vw;
        text-align: center;
        padding-left: 0;
        padding-top: 7rem;
        box-sizing: border-box;

    }

    .skill-levels-container {
        gap: 5%;
    }

    .each-skill-levels-item h3 {
        font-size: 1rem;
    }

    .each-skill-levels-item p {
        display: none;
    }

    .about-IDE {
        margin-top: 5rem;
        padding-top: 3rem;
        flex-flow: column nowrap;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .multiplayer, .community, .Teams, .Host {
        flex-flow: column nowrap;
    }

    .codeEnviron-img {
        width: 100vw;
        height: 35vh;
    }

    .multiplayer-text+img,
    .community img {
        width: 100vw;
        height: 80vh;
    }

    .team-text+img, .Host img {
        width: 100vw;
        height: 60vh;
    }

    .team-text .team-heading+h1,
    .host-text .host-heading+h1 {
        font-size: 2rem;
    }

    #languages {
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #languages ul li a {
        font-size: 1.3rem;
    }

    footer h4 {
        font-size: 1.4rem;
        text-align: left;
        padding-left: 1rem;
    }
}

@media (max-width:660px) {
    #first-text {
        font-size: 3rem;
    }


    #firstParagraph {
        font-size: 1rem;
    }

    .top-contents {
        padding-top: 0;
        line-height: 1.5;
        word-wrap: wrap;
    }
}

@media (max-width:644px) {
    .each-skill-levels-item {
        padding-top: 4.5rem;
        box-sizing: border-box;
    }

    .main-last-text p {
        font-size: 2rem;
    }
}

@media (max-width:482px) {
    #first-text {
        font-size: 2.5rem;
    }


    #firstParagraph {
        font-size: 0.9rem;
    }

    .instant-ide {
        font-size: 1rem;
        color: #c2c8cc;
    }

    aside h1+p {
        font-size: 1rem;
        color: #c2c8cc;

    }

    aside h1+p strong {
        color: white;
    }

    .IDE {
        width: 50vw;
        height: 50vh;
    }

    .side-text a {
        font-size: 1rem;
    }

    .side-text h1 {
        font-size: 2rem;
    }

    .StartCoding {
        margin-top: 2rem;
    }

    .each-skill-levels-item {
        padding-top: 3.5rem;
        box-sizing: border-box;
    }

    .team-text+img {
        width: 100vw;
        height: 40vh;
    }

    .main-last-text p {
        font-size: 1.5rem;
    }
}

@media (max-width:400px) {
    .each-skill-levels-item {
        flex-basis: 80%;
        height: 80vw;
        text-align: center;
        padding-left: 0;
        padding: 0;
        padding-top: 2rem;
    }

    .each-skill-levels-item {
        padding-top: 8rem;
        box-sizing: border-box;
    }

    .each-skill-levels-item h3 {
        font-weight: 700;
        font-size: 1rem;
    }

    .multiplayer-heading {
        font-size: 1.2rem;
    }

    .multiplayer-text .multiplayer-heading+h1,
    .community-text .community-heading+h1 {
        font-size: 2.3rem;
        color: white;
    }


    .multiplayer, .community {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        align-items: center;
    }

    .multiplayer-text+img {
        width: 100vw;
        height: 85%;
    }

    .community-heading {
        font-size: 2.2rem;
    }

}

/* @media (max-width:315px) { */
/* .StartCoding, .coding-link {
        animation: small 0.8s 0s cubic-bezier(.17, .67, .83, .67) alternate infinite;
        transition: all 0.2s 0s ease-in;
    } */

/* @keyframes small {
        0% {
            padding: 0.4rem;
        }

        100% {
            padding: 0.6rem;

        }
    } */
/* } */


@media (max-width:300px) {
    .each-skill-levels-item {
        padding-top: 3rem;
    }
}

@media (max-width:221px) {
    .StartCoding, .coding-link {
        font-size: 0.6rem;
        padding: 0.3rem;
    }

    /* .StartCoding, .coding-link {
        animation: small 0.8s 0s cubic-bezier(.17, .67, .83, .67) alternate infinite;
        transition: all 0.2s 0s ease-in;
    }

    @keyframes small {
        0% {
            padding: 0.3rem;
        }

        100% {
            padding: 0.5rem;

        }
    } */

}

@media (max-width:166px) {
    #first-text {
        font-size: 2.1rem;
    }

    .StartCoding, .coding-link {
        font-size: 0.5rem;
        padding: 0.3rem;

    }

    .multiplayer-heading {
        font-size: 1rem;
    }

    .multiplayer-text .multiplayer-heading+h1 {
        font-size: 2rem;
        color: white;
    }

    .community-text .community-heading+h1 {
        font-size: 2rem;
    }

    .community-heading {
        font-size: 2rem;
    }

    .main-last-text p {
        font-size: 1.2rem;
    }
}