@import url("header.css");

.contents-wrapper {
    position: relative;
}

#form-container {
    margin: 8rem auto;
    background-color: #0E1525;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 2rem;
}

form {
    background-color: #0E1525;
}

input {
    width: 25vw;
    margin: 0.5rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    border: 1px solid #c2c8cc;
    background-color: #0E1525;
    caret-color: #c2c8cc;
    color: white;
}

input:hover {
    border: 1px solid #055fb9;
}

input:focus {
    outline: 1px solid #055fb9;
}

input[type="submit"] {
    color: #c2c8cc;
    font-size: 0.9rem;
    /* background-color:rgb(2, 55, 109); */
    background-color: #004182;
    opacity: 0.5;
    border: none;
    /* #02376d */
}

#form-container h3 {
    font-size: 2rem;
    color: #c2c8cc;
    font-weight: 600;
}

.continue-with {
    display: block;
    padding: 5px 10px;
    border: 1px solid #c2c8cc;
    text-decoration: none;
    margin: 0.6rem;
    border-radius: 0.3rem;
    color: #c2c8cc;
    width: 25vw;
}

.changeCursor {
    cursor: pointer;
}

.reqirement {
    width: 25vw;
    color: #c2c8cc;
    background-color: transparent;
    position: relative;
    left: 0.5rem;
}

@media (max-width:1024px) {
    input, .continue-with, .user-assist, .reqirement {
        width: 35vw;
    }
}

@media (max-width:780px) {
    input, .continue-with, .user-assist, .reqirement {
        width: 45vw;
    }
}

@media (max-width:480px) {
    input, .user-assist, .reqirement {
        width: 80vw;
    }

    .continue-with {
        width: 80vw;
    }

    #form-container h3 {
        font-size: 1.8rem;
    }
}

@media (max-width:200px) {
    .continue-with {
        padding: 4px 8px;
        font-size: 0.9rem;
    }

    #form-container h3 {
        font-size: 1.6rem;
    }
}